<!DOCTYPE html>
<html lang="en">
    <head>
        <script>
            window.watsonAssistantChatOptions = {
              integrationID: "96aeadf0-d24a-4c3c-96c7-514058a41090", // The ID of this integration.
              region: "au-syd", // The region your integration is hosted in.
              serviceInstanceID: "a54ab283-c364-498d-9619-25cc936a48ef", // The ID of your service instance.
              onLoad: function(instance) { instance.render(); }
            };
            setTimeout(function(){
              const t=document.createElement('script');
              t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
              document.head.appendChild(t);
            });
          </script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Scrolling Nav - Start Bootstrap Template</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)
        <link href="styles.css" rel="stylesheet" />-->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">ABINA S 🎉 Team</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        {% if g.user %}
                        <li><span>{{ g.user['username'] }}</span>
                            <li><a href="{{ url_for('auth.about') }}">Log In</a></li>
                        <li><span>|</span></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
                      {% else %}
                      <li><a href="{{ url_for('auth.about') }}">Log In</a></li>
                        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                            <li><span>|</span></li>
                        <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                      {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Welcome to ABINA S 🎉 Team Project</h1>
                <p class="lead">Nutrition Assistant Application</p>
                <a class="btn btn-lg btn-light" href="#about">Start Exploring!</a>
            </div>
        </header>
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                              {% block header %}{% endblock %}
                            {% for message in get_flashed_messages() %}
                              <div class="flash">{{ message }}</div>
                            {% endfor %}
                            {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </section>
       
       
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="scripts.js"></script>
    </body>
</html>
