<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>spoonacular Image Analyzer</title>
    <meta name="author" content="David Urbansky">
    <meta name="description" content="A spoonacular sample app.">
    <meta name="keywords" content="spoonacular, sample, app">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.1.0/anime.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/vue-file-agent@latest/dist/vue-file-agent.css" />
    <script src="https://unpkg.com/vue-file-agent@latest/dist/vue-file-agent.umd.js"></script>
    <link rel="shortcut icon" href="https://spoonacular.com/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://spoonacular.com/favicon.ico" type="image/x-icon">
</head>

<body>

    <div id="app">
        <h1>The recomendation from image are...</h1>

        <div style="color:black">
            {{ data }}</div>
</body>

</html>